
.heart{
    font-size: 20px;
    color: grey;
    &:hover{
        animation: fill 1s ease-out;
        background: linear-gradient($secondary-color, $primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

}